*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0f172a;
  color:white;
}

/* NAVBAR */

nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:18px 60px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(0,0,0,0.2);

  backdrop-filter:blur(10px);

  transition:0.4s ease;

  z-index:1000;
}

/* NAVBAR COLOR CHANGE */

nav.scrolled{
  background:linear-gradient(90deg,#7c3aed,#2563eb);

  box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

.logo{
  font-size:30px;
  font-weight:700;
}

.logo span{
  color:#facc15;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  position:relative;
  transition:0.3s ease;
}

/* UNIQUE HOVER EFFECT */

.nav-links a::before{

  content:'';

  position:absolute;

  left:50%;
  bottom:-5px;

  width:0;
  height:3px;

  background:#facc15;

  transition:0.4s ease;
}

.nav-links a:hover::before{

  width:100%;
  left:0;
}

.nav-links a:hover{
  color:#facc15;
}

/* HERO SECTION */

.hero{

  height:100vh;

  background:
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),
  url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1470&auto=format&fit=crop');

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;
}

.hero-content h1{
  font-size:65px;
}

.hero-content span{
  color:#facc15;
}

.hero-content p{

  margin:20px auto;

  max-width:700px;

  color:#d1d5db;
}

.btn{

  display:inline-block;

  padding:14px 35px;

  background:linear-gradient(90deg,#facc15,#f97316);

  color:black;

  text-decoration:none;

  border-radius:40px;

  font-weight:600;

  transition:0.4s ease;
}

.btn:hover{
  transform:scale(1.05);
}

/* SECTION */

section{
  min-height:100vh;
  padding:120px 10%;
}

/* BACKGROUND COLOR CHANGES */

#movies{
  background:linear-gradient(135deg,#111827,#1e3a8a);
}

#offers{
  background:linear-gradient(135deg,#4c1d95,#7c3aed);
}

#contact{
  background:linear-gradient(135deg,#3f0d12,#b91c1c);
}

.section-title{
  font-size:45px;
  margin-bottom:40px;
  color:#facc15;
}

/* CARDS */

.cards{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

  gap:25px;
}

.card{

  background:rgba(255,255,255,0.08);

  border-radius:20px;

  overflow:hidden;

  transition:0.4s ease;
}

.card:hover{
  transform:translateY(-10px);
}

.card img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.card-content{
  padding:20px;
}

/* FOOTER */

footer{
  text-align:center;
  padding:20px;
  background:black;
}

/* RESPONSIVE */

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:15px;
    padding:15px 20px;
  }

  .hero-content h1{
    font-size:40px;
  }

  .nav-links{
    gap:18px;
  }

}